#!/bin/bash

BASEDIR=/opt/mybackup

# destination for stdout & stderr
BKPLOGFILE=$BASEDIR/mybackup.log

# mysql commands defaults-file
MYCONF=$BASEDIR/mybackup.myconf

# how long backups should be kept
BKPDAYS=2

# where backups are storred/processed
BKPDIR=$BASEDIR/bkp.out
WORKDIR=$BASEDIR/bkp.tmp

